#Struktur Data

##List

In [ ]:
L1 = [1,4,2,13]
print(type(L1))

<class 'list'>

In [ ]:
L1 = [1,4,2,13]
L1

[1, 4, 2, 13]

In [ ]:
L2 = ['a','phyton',3,2+1j]
L2

['a', 'phyton', 3, (2+1j)]

In [ ]:
#menampilkan elemen dengan menggunakan fungsi print
matkul = ['fuzzy','pdp','metnum','graph']
print(matkul[2])
print(matkul[2:])
print(matkul[1:3])   #menampilkan matkul list ke1,ke3
print(matkul[-2])
print(matkul[-3:-1])
print(matkul[-1])    #menampilkan matkul dari belakang pertama

metnum
['metnum', 'graph']
['pdp', 'metnum']
metnum
['pdp', 'metnum']
graph

In [ ]:
data = ['5','23','kalkulus','2.5','True',5+2j]
print(data[2])
print(data[1:4])
print(data[0:1])
print(data[0:2])
print(data[-4])
print(data[5])
print(data[3])

kalkulus
['23', 'kalkulus', '2.5']
['5']
['5', '23']
kalkulus
(5+2j)
2.5

In [ ]:
print(data[1:3])

['23', 'kalkulus']

### Sifat-sifat list

In [ ]:
#dapat diganti
data = ['5','23','kalkulus','2.5','True',5+2j]
data[4] = 'Matematika komputasi'
print(data)

['5', '23', 'kalkulus', '2.5', 'Matematika komputasi', (5+2j)]

In [ ]:
#dapat di indeks/slicing
data = ['5','23','kalkulus','2.5','True',5+2j]
print('slicing list data:', data[2])

slicing list data: kalkulus

In [ ]:
#dapat diijinkan duplikasi
data = ['5','23','kalkulus','2.5','True',5+2j]
print('Duplikasi list data:', data[4])

Duplikasi list data: True

##Tupple
###tidak dapat diubah/diganti dan menggunakan kurung biasa

In [ ]:
T1 = (2, 5+4j, 'Problem', 'solving', 10, 2-1j)
print('ini adalah tuple satu', T1)
print(type(T1))

ini adalah tuple satu (2, (5+4j), 'Problem', 'solving', 10, (2-1j))
<class 'tuple'>

In [ ]:
T2 = ('Nilai','Aljabar','linear ku','adalah',100,True, )
print(T2)

('Nilai', 'Aljabar', 'linear ku', 'adalah', 100, True)

###Sifat-sifat tuple

In [ ]:
## menggabungkan tuple
T3 = T1+T2
print(T3)

(2, (5+4j), 'Problem', 'solving', 10, (2-1j), 'Nilai', 'Aljabar', 'linear ku', 'adalah', 100, True)